nav h4 {
    margin-right: 35%;
}
body{
    background-color: antiquewhite;
}
nav {
    display: flex;
    justify-content: center;
    background-color: pink;
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-style: oblique;
    font-weight: 300;
    margin-top: 1%;
}

ul {
    display: flex;
    padding-top: 3px;
    list-style: none;
}

li {
    padding-right: 150px;
    cursor: pointer;
}

.bgimage {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.bgimage img {
    width: 70%;
    padding-top: 20px;
    border-radius: 50px;
    transition: 0.3s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.overlay-text {
    position: absolute;
    padding: 10px;
    top: 10%;
    left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: oblique;
    color: palevioletred;
    font-size: 40px;
    text-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    border: 5px solid palevioletred;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: antiquewhite;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
}
.cards div{
    text-align: center;
    background-color: pink;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    font-style: oblique;
    color: red;
}
.cards div img{
    width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
.cards div:hover{
    background-color: peachpuff;
    color: black;
    transform: scale(1.1);
}
li:hover{
    color: deeppink;
    transform: scale(1.2);
}
.overlay-text:hover{
    transform: scale(0.5);
}